$bg: #c4bcd8;
$border: #958abe;
$focused: #7065a1;
$nonfocused: #fffeff;
$urgent: #8d59ae;
$song_color: #fffeff;
$spotify: #8d95cc;

//$empty: #e0d8e6;

* {
  all: unset;
}

.emibar {
  font-size: 16px;
  background-color: $bg;
  border: 5px solid $border;
  border-radius: 8px;
}

.spotify {
  color: $song_color;
  font-family: "Hack Nerd Font";
  font-size: 16px;
  font-weight: bold;

  .song_label {
    font-size: 22px;
    color: $border;
  }

  .spotify_controls {
    font-size: 20px;
    margin-right: 13px;
    margin-left: 10px;
  }
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.workspaces {
  font-family: "Hack Nerd Font";
  font-size: 17px;
  margin-right: 8px;

  button {
    margin: 0px 5px;
  }

  .occupied {
    color: $nonfocused;
  }

  .focused {
    color: $focused;
  }

  .urgent {
    color: $urgent;
  }
  
   .empty {
    color: $nonfocused;
  }
}
